<h2>League Standings</h2>
<h3>@ViewBag.LeagueName</h3>

@model YahooFantasyFootball.ViewModels.StandingsVM

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">Placement</th>
            <th class="text-center">Team Manager</th>
            <th class="text-center">Number of Moves</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.TeamStandings)
        {
            <tr>
                <td >
                    <img class="img-responsive img-rounded" src="@team.logoUrl" width="64" height="64" alt="Team Logo" />
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => team.Placement)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => team.TeamManager)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => team.NumberOfMoves)
                </td>
            </tr>
        }
    </tbody>
</table>


