<h1>@ViewBag.Title</h1>

@model YahooFantasyFootball.ViewModels.WeatherToolVM
<div class="form-horizontal col-md-12" style="display: inline-block">
@using (Html.BeginForm("WeatherTool", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.DropDownListFor(model => model.GameWeekId, Model.GameWeeks, "Select...", new { @class = "input-sm" })
    @Html.DropDownListFor(model => model.TeamId, Model.Managers, "Select...", new { @class = "input-sm" })
    <input class="input-sm" type="submit" value="Submit" />
}
</div>

<table class="table">
    <thead>
        <tr>
            <th>Player Icon</th>
            <th>Position</th>
            <th>Player Name</th>
            <th>Team Name</th>
            <th>Weather Description</th>
            <th>Temperature(F)</th>
            <th>Wind Speed (MPH)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TeamRoster != null)
        {
            @foreach (var player in Model.TeamRoster)
            {
                <tr>
                    <td>
                        <img class="img-responsive img-rounded" src="@player.PlayerImageUrl" alt="Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.PlayerPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.NflTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.gameWeather.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.gameWeather.temperature)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => player.gameWeather.windSpeed)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

